@import url('switzer.css');
@import url('supreme.css');

html, body { 
  margin: 0;
}

h1, h2, h3, h4, h5, h6, a, li, button {
  font-family: 'Switzer-Black';
}

p {
  font-family: 'Supreme-Medium';
}


